{% extends 'instructeur/hoofdpagina.html.twig' %}
{% block body %}
    <div class="container">
        <h5 style="color: red">Instructeur</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi dicta, inventore iusto molestias recusandae veritatis! Cupiditate facilis nemo similique! Autem consectetur dolore, id illo iste laudantium magni nulla sequi?</p>
    </div>
{% endblock %}