{% extends "bezoeker/bezoeker.html.twig" %}
{% block body %}
    <div class="container">
        <h5 style="color: red">Contact</h5>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <p>Op deze paginas staan de mogelijkheden om met ons contact op te nemen.</p>
                <p>Als u vragen heeft, kunt u gerust bellen op het nummer 015-242424.</p>
                <p>Wij zijn op van 9.00u tot 22:00, ook op zondag.</p>
            </div>
            <div class="col-xs-3 mx-auto">
                <a href="#"><i class="fab fa-whatsapp fa-3x"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-3x"></i></a>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.606593755892!2d4.270466015986358!3d52.05047767867029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b1477dc13901%3A0xde1386f0da6d076d!2sBrutal%20Gym!5e0!3m2!1snl!2snl!4v1575025433897!5m2!1snl!2snl"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
{% endblock %}
