{% extends 'bezoeker/bezoeker.html.twig' %}


{% block body %}
    <div class="container">
    <h5 style="color: red">Gedragregels</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid eaque illum, incidunt non tempora. Ad eius facere mollitia nesciunt odit saepe sequi tenetur vel vitae. Aperiam facere iure nesciunt.</p>
    </div>
{% endblock %}